<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-content>
          <ion-list>
            <ion-item>nombre</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-content>
          <ion-list>
            <ion-item>nombre</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
